root {

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.table{
    margin: 5rem auto;
    border-collapse: collapse;
    z-index: 1;
    .searchBox {

        width: 20rem;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    &__head {
        background-color: lightsalmon;
        font-size: .75rem;
        font-weight: 700;
        padding: .5rem;
        border: 1px solid #ddd;
        width: 6rem;
    }

    &__item {
        border: 1px solid #ddd;
        padding: .5rem;
        font-size: .75rem;
        text-align: center;

        &--search {
            border: 1px solid #ddd;
            margin: 0 1rem;
            width: 20rem;
           position: relative;
            
        }

        &--amount {
            border: 1px solid #ddd;
            margin: 0 1rem;
            text-align: center;
        }

        &--delete {
            display: flex;
            align-items: center;
            font-size: .1rem;
            text-align: center;
            

            .delete-btn {
                display: flex;
                align-items: center;
                padding: .5rem;
                cursor: pointer;
                border: none;
                background-color: #ffffff;

                &:hover {
                    color: tomato;
                }

                i {
                    font-size: 1.25rem;
                    padding-right: 4px;
                }
            }
        }
    }

    &__end {
        @extend .table__item;
        font-size: 1rem;
        font-weight: 700;
    }
}

.search-icon {
    position: absolute;
    top: 6px;
    left: 5px;
    color: grey;
    font-size: 1.25rem;
}

.input {
    height: 100%;
    width: 100%;
    padding: .5rem;
    border: none;
    
    &--search {
        @extend .input;
        padding-left: 2rem;
    }

    &--currency {
        text-align:center;
        
    }
}

.dropdown{
    // display: none;
    
    &__menu {
        display: none;
        background-color: red;
        font-size: .75rem;
    }
  
}

.dropdown__active {
    display: block;
    position: relative;
    top:.25rem;
    
    
    & .dropdown__menu {
        background-color: #ffffff;
        z-index: 100;
        display: inline;
        position: absolute;
        width: 100%;
        border: 1px solid #ddd;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        
        li{
            list-style: none;
            width: 100%;
        }

        & .dropdown__result {
            display: block;
            text-decoration: none;
            padding: .5rem;
            border: 1px solid #ddd;
            width: 100%;
            cursor: pointer;

            &:hover {
                background-color: salmon;
            }
        }
} 
    
}


